<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head',  {view: "Listado de productos",gliderCSSDisabled:true}) %>
    <body class="body-listProducts">
        <%- include('../partials/dot') %>

        <%- include('../partials/header') %>
        <main class="list-product d-flex flex-wrap justify-content-center ">
            <div class="dropdown-center categoryFilter">
                <select class="form-select categorySelect" aria-label="Seleccionar categoría">
                    <option value="0">Seleccionar categoría</option>
                    <% locals.categories.forEach(c => { %>
                        <option value="<%= c.id %>" <%= category == c.id ? 'selected' : '' %>><%= c.name %></option>
                    <% }) %>
                </select>
            </div>
            
            <div class="dropdown-center subcategoryFilter">
                <select class="form-select subcategorySelect" aria-label="Seleccionar subcategoría">
                    <option value="0">Seleccionar subcategoría</option>
                    <% locals.subcategories.forEach(sub => { %>
                        <option value="<%= sub.id %>" <%= subcategory == sub.id ? 'selected' : '' %>><%= sub.name %></option>
                    <% }) %>
                </select>
            </div>

            <nav class="paginationNav" aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item <% if(prev == null || page === 1) { %> <%= 'disabled' %> <% } %>">
                        <a class="page-link link-danger-custom" href="/productos<%= prev ? prev : '' %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
    
                    <% for( let i = 1; i <= pages ; i++ ) { %>
                    <li class="page-item">
                        <a class="page-link link-danger-custom <% if (page == i ) { %> <%= "link-active" %><% } %>" href="/productos?<%= category ? 'category=' + category + '&' : '' %><%= subcategory ? 'subcategory=' + subcategory + '&' : '' %>page=<%= i %>"><%= i %></a>
                    </li>
                    <% } %>
                    
                    <li class="page-item <% if (next === null) { %> <%= 'disabled' %> <% } %>">
                        <a class="page-link link-danger-custom" href="/productos<%= next %>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            
            <%- include('../partials/cardPrincipal') %>
        </div>
        </main>

        <%- include('../partials/footer') %>

        <%- include('../partials/scripts',{disabledGliderJS:true, activeAddProduct:true, activeDotJS:true}) %>
        <script src="/js/functions/listProductsFilters.js"></script>
    </body>
</html>