<!DOCTYPE html>
<html lang="es">
          <%- include('../partials/head',  {view: "Listado de productos",gliderCSSDisabled:true}) %>
    <body class="body-listProducts">

        <%- include('../partials/header') %>

        <main class="list-product ">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center m-5">
                    <li class="page-item <% if(lessPage == 0) { %> <%= 'disabled' %> <% } %>">
                        <a class="page-link link-danger-custom" href="/productos<%= subcategory ? "?subcategory=" + subcategory + "&" : "?" %>page=<%= lessPage %>&offset=<%= lessOffset %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
    
                    <% let sendOffset = 0 %>
                    <% for( let i = 1; i <= totalPages ; i++ ) { %>
                        
                    <li class="page-item">
                        <a class="page-link link-danger-custom <% if (page - 1 === i ) { %> <%= "link-active" %><% } %>" href="/productos<%= subcategory ? "?subcategory=" + subcategory + "&" : "?" %>page=<%= i %>&offset=<%= sendOffset %>"><%= i %></a>
                    </li>
    
                    <% sendOffset = sendOffset + 5  %>
    
                    <% } %>
                    <li class="page-item <% if (page === totalPages + 1) { %> <%= 'disabled' %> <% } %>">
                        <a class="page-link link-danger-custom" href="/productos<%= subcategory ? "?subcategory=" + subcategory + "&" : "?" %>page=<%= page %>&offset=<%= offset %>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <%- include('../partials/cardPrincipal') %>
            
        </div>
        </main>

        <%- include('../partials/footer') %>

        <%- include('../partials/scripts',{disabledGliderJS:true, activeAddProduct:true}) %>
      
    </body>
</html>
