<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head',  {view: "Detalle de productos", bootstrapCSSDisabled:true}) %>
<body>
    <%- include('../partials/header') %>

    <main class="productDetail">
        <div class="thumbnails-container">
            <figure class="thumb-img-container"><img class="thumb-img" src="/images/products/<%= product.imagePrincipal%>" alt="producto 1"></figure>
            
            <% product.imagesecondaries.forEach(img => { %>
                <figure class="thumb-img-container">
                    <img class="thumb-img" src="/images/products/<%= img.file%>" alt="product image secondary">
                </figure>
            <% }) %>
        </div>
    
        <div class="glider-contain prodDetail-glider-container">
            <div class="glider prodDetail-glider">
                
              <div class="prodDetail-content-container">
                <figure class="prodDetail-image-container">
                    <img src="/images/products/<%= product.imagePrincipal%>" alt="producto 1">
                </figure>
              </div>
              <% product.imagesecondaries.forEach(img => { %>
                <div class="prodDetail-content-container">
                  <figure class="prodDetail-image-container">
                      <img src="/images/products/<%= img.file%>" alt="producto 1">
                  </figure>
                </div>
             <% }) %>
        </div>
          
            <button aria-label="Previous" class="glider-prev">
                <i class="fa-solid fa-caret-left"></i>
            </button>
            <button aria-label="Next" class="glider-next">
                <i class="fa-solid fa-caret-right"></i>
            </button>
            <div role="tablist" class="dots"></div>
        </div>

        <div class="prodDetail-container">
            <div class="breadcrumb-container">
                <nav class="breadcrum">
                    <ul>
                        <li>
                            <a href="/">Inicio</a>
                        </li>
                        <li>
                            <a href="#"><%= product.category.name %></a>
                        </li>
                        <li>
                            <a href="#"><%= product.subcategory.name %></a>
                        </li>
                        <li>
                            <a href="#"><%= product.title%></a>
                        </li>
                    </ul>  
                </nav>
            </div>
            <h2 class="prodDetail-title"><%= product.title%></h2>
            <div class="prodDetail-pricing">
                <p class="prodDetail-price">$<%= toThousand(product.price - (product.price * product.sale / 100)) %></p>
                <% if (product.sale && product.sale > 0) { %>
                    <p class="prodDetail-sale"><%= product.sale %>% OFF</p>
                <% } %>
            </div>
            
            <div class="prodDetail-colors">
                <% if (product.color === 'Multicolor') { %>
                    <div class="imgMulticolorDiv"><img src="/images/products/multicolor.jpg" alt=""></div>
                  <% } else { %>
                  <i style="color: <%= product.color %>;border: 1px solid black;border-radius: 10px;" class="fa-solid fa-circle"></i>
                <% } %>
            </div>
        
            <div class="product-quantity-container">
                    <button class="decrease-button">-</button>
                    <div class="quantity">  
                        <label for="quantity"></label>
                        <input type="number" name="quantity" id="quantity" value="1" min="1">
                    </div>
                    <button class="increase-button">+</button>
            </div>
            <div class="add-to-cart">
                <div class="btn-cart">
                    <button>AGREGAR AL CARRITO</button>
                </div>
            </div>
        </div>
        <div class="description-container">
            <h2 class="description-title">Descripción del producto</h2>
            <p class="description-paragraph"><%= product.description%></p>
        </div>

        <div class="relatedProduct-container">
            <%- include('../partials/cardSecondary') %>
        </div>
        
    </main>
    <%- include('../partials/footer') %>

    <%- include('../partials/scripts',{ disabledBootstrapJS:true }) %>
    
</body>
</html>