<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', {view: "Articulos para mascotas", gliderCSSDisabled:true}) %>

<body class="body-home">
    <%- include('../partials/dot') %>

    <%- include('../partials/header') %>

    <main class="main-home">
        <!-- Carousel -->
        <%- include('../partials/carousel') %>

        <div class="titles-container">
            <h1 class="welcome-title">BIENVENIDOS A DOKY SHOP</h1>
            <h5 class="sale-title">VENTA DE LOS MEJORES Y MAS LINDOS PRODUCTOS PARA TUS MASCOTAS!</h5>
        </div>

        <%- include('../partials/categories') %>
        <div class="icons-container">
            <div class="icons">
                <i class="fa-solid fa-truck-fast"></i>
                <h5>ENVIOS SIN CARGO</h5>
                <p>Envíos en toda CABA y alrededores</p>
            </div>

            <div class="icons">
                <i class="fa-solid fa-dollar-sign"></i>
                <h5>DESCUENTO EXTRA</h5>
                <p>Pagando tus compras en efectivo</p>
            </div>

            <div class="icons">
                <i class="fa-solid fa-credit-card"></i>
                <h5>PAGA CON TARJETA</h5>
                <p>También puedes pagar en cuotas</p>
            </div>
        </div>
        
        <%- include('../partials/cardSecondary') %>
        
        <div class="pet-section">
            <div class="image-with-list">
                <% otherImages.forEach(otherImg => { %>
                    <% if (otherImg.name === 'FAQ.jpg') { %>
                        <img src="/images/other/<%= otherImg.name %>" alt="faq image" class="full-width-image">
                    <% } %>
                <% }) %>
                <div class="pet-content">
                    <ul class="pet-list">
                        <li>
                            <a href="/preguntas-frecuentes"> PREGUNTAS FRECUENTES:</a>
                        </li>
                    <% faqs.forEach(f => { %>
                        <li>
                            <a href="/preguntas-frecuentes#<%= f.class %>"><i class="fa-solid fa-paw"></i> <%= f.title %></a>
                        </li>
                    <% }) %>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>

    <%- include('../partials/scripts', {disabledGliderJS:true, activeDotJS:true, activeAddProduct:true}) %>

</body>
</html>