<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', {view: "Articulos para mascotas", gliderCSSDisabled:true}) %>

<body>
    <%- include('../partials/dot') %>

    <%- include('../partials/header') %>

    <main class="main-home">
        <!-- Carousel -->
        <%- include('../partials/carousel') %>

        <div class="icons-container">
            <div class="icons">
                <i class="fa-solid fa-truck-fast"></i>
                <h4>ENVIOS SIN CARGO</h4>
                <p>Envíos en toda CABA y alrededores</p>
            </div>

            <div class="icons">
                <i class="fa-solid fa-dollar-sign"></i>
                <h4>DESCUENTO EXTRA</h4>
                <p>Pagando tus compras en efectivo</p>
            </div>

            <div class="icons">
                <i class="fa-solid fa-credit-card"></i>
                <h4>PAGA CON TARJETA</h4>
                <p>También puedes pagar en cuotas</p>
            </div>
        </div>

        <div class="titles-container">
            <h1 class="welcome-title">BIENVENIDOS A DOKY SHOP</h1>
            <h5 class="sale-title">VENTA DE LOS MEJORES Y MAS LINDOS PRODUCTOS PARA TUS MASCOTAS!</h5>
        </div>

        <%- include('../partials/categories') %>

        <div class="recommendedProd-container">
            <h2>Productos recomendados</h2>
            <% products.forEach(p => { %>
                <article class="recommendedProd">
                    <figure class="recommended-img-container">
                        <a href="/productos/detalle/<%= p.id %>"><img src="/images/products/<%= p.imagePrincipal%>" alt="recommended products" ></a>
                    </figure>
                    <div class="recommendedProd-description">
                        <a href="/productos/detalle/<%= p.id %>">
                            <h5><%= p.title%></h5>
                        </a>
                        <p>$ <%= p.price%></p>
                        <a class="recommendedProd-buyCart" href="/carrito-compra"><i class="fa-solid fa-cart-plus"></i></a>
                    </div>
                </article>
          <% }) %>
        </div>

        <div class="pet-section">
            <div class="image-with-list">
                <% otherImages.forEach(otherImg => { %>
                    <% if (otherImg.name === 'FAQ.jpg') { %>
                        <img src="/images/other/<%= otherImg.name %>" alt="faq image" class="full-width-image">
                    <% } %>
                <% }) %>
                <div class="pet-content">
                    <ul class="pet-list">
                        <li>
                            <a href="/preguntas-frecuentes"> PREGUNTAS FRECUENTES:</a>
                        </li>
                    <% faqs.forEach(f => { %>
                        <li>
                            <a href="/preguntas-frecuentes#<%= f.class %>"><i class="fa-solid fa-paw"></i> <%= f.title %></a>
                        </li>
                    <% }) %>
                    </ul>
                </div>
            </div>
            <div class="new-image-container">
                <% otherImages.forEach(otherImg => { %>
                    <% if (otherImg.name === 'vet-gato.jpg') { %>
                        <img src="/images/other/<%= otherImg.name %>" alt="veterinary image">
                    <% } %>
                <% }) %>
                <div class="overlay-content">
                    <h3 class="overlay-text">Te recomendamos los mejores veterinarios</h3>
                    <button class="overlay-button-left">Ver más</button>
                    <button class="overlay-button-right">Ver más</button>
                    <p class="additional-text-right">Peluquería canina</p>
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>

    <%- include('../partials/scripts', {disabledGliderJS:true, activeDotJS:true}) %>

</body>
</html>