<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head", {view: "Resultados de la búsqueda", gliderCSSDisabled:true}) %>
<body class="body-results">
    <%- include("../partials/header") %>

    <main class="results-main">
        <div class="container">
            <div class="row">
                <div class="SearchTitleContainer col-12 text-center">
                    <h2 class="searchTitle my-3">Resultados de la busqueda: <%= productSearched %></h2>
                    <h2 class="searchTitle my-3">Cantidad de resultados totales: <%= count %></h2>
                </div>
                <% if (!products.length) { %>
                    <div class="searchTitleNotFound-container col-12 text-center text-danger">
                        <h2 class="searchTitleNotFound my-5">*No hay productos que coincidan con la busqueda*</h2>
                    </div>
                    <style>
                        main {
                            background-image: url("/images/other/fondoSearchNotFound.jpg") ;
                            height: 700px;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 100vw 700px;
                        }
                    </style>
                <% } %>
        
                <% if (products.length) { %>
                    
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item <% if(lessPage == 0) { %> <%= 'disabled' %> <% } %>">
                            <a class="page-link link-danger-custom" href="/buscar?productSearched=<%= productSearched %>&page=<%= lessPage %>&offset=<%= lessOffset %>" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <% let sendOffset = 0 %>

                        <% for( let i = 1; i <= totalPages ; i++ ) { %>
                            
                        <li class="page-item">
                            <a class="page-link link-danger-custom <% if (page - 1 === i ) { %> <%= "link-active" %><% } %>" href="/buscar?productSearched=<%= productSearched %>&page=<%= i %>&offset=<%= sendOffset %>"><%= i %></a>
                        </li>

                        <% sendOffset = sendOffset + 5  %>

                        <% } %>
                        <li class="page-item <% if (page === totalPages + 1) { %> <%= 'disabled' %> <% } %>">
                            <a class="page-link link-danger-custom" href="/buscar?productSearched=<%= productSearched %>&page=<%= page %>&offset=<%= offset %>" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <% } %>

                <div class="searchedProduct-container gap-3">
                    <% products.forEach(p => { %>
                            <article class="searchedProduct">
                                <figure class="searchedProd-imgContainer">
                                    <a href="/productos/detalle/<%= p.id %>">
                                        <img src="/images/products/<%= p.imagePrincipal %>" alt="product img">
                                    </a>
                                </figure>
                                <div class="searchedProduct-description">
                                    <a class="listProduct-titleLink" href="/productos/detalle/<%= p.id %>">
                                        <h5><%= p.title%></h5>
                                    </a>
                                    <p><%= toThousand(p.price) %></p>
                                    <a class="searchedProduct-buyCart" onclick="addProductCart('<%=p.id %>')" href="/carrito-compra"><i class="fa-solid fa-cart-plus"></i></a>
                                </div>
                            </article>
                    <% }) %>
                </div>
            </div>
        </div>
    </main>

    <%- include("../partials/footer") %>

    <%- include("../partials/scripts", {disabledGliderJS:true, activeAddProduct:true}) %>


</body>
</html>