<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {view: "Registrate" , bootstrapCSSDisabled:true, gliderCSSDisabled:true}) %>

    <body>
        <%- include('../partials/header') %>

            <main class="register-main">
                <div class="contenedor-registro">
                    <form class="form-principal" action="/autenticacion/registro" method="post"
                        enctype="multipart/form-data">
                        <h1>Registrarse</h1>
                        <div class="imgProductForm">
                            <label for="productImg" class="form-label">
                                <img src="/images/avatar/default/perfilUser.png" alt="default product img" />
                            </label>
                            <input class="registerAvatarInput" type="file" class="form-control" name="avatar"
                                id="productImg" />
                            <p class="text-danger-error registerAvatarError">
                                <%= locals.errors?.avatar?.msg %>
                            </p>
                        </div>

                        <div class="contenedor-form">
                            <div class="nombre">
                                <% if (locals.errors) { %>
                                        <p class="text-danger-error">
                                            <%= locals.errors?.name?.msg %>
                                        </p>
                                        <% } %>
                                            <input type="text" class="" name="name" placeholder="Nombre completo"
                                                id="nombre" value="<%= locals.old?.name %>" />
                            </div>

                            <div class="email">
                                <% if (locals.errors) { %>
                                        <p class="text-danger-error">
                                            <%= locals.errors?.email?.msg %>
                                        </p>
                                        <% } %>
                                            <input class="" type="email" name="email" placeholder="Ingrese su email"
                                                id="email" value="<%= locals.old?.email %>" />
                            </div>

                            <div class="contrasenia">
                                <% if (locals.errors) { %>
                                        <p class="text-danger-error">
                                            <%= locals.errors?.password?.msg %>
                                        </p>
                                        <% } %>
                                            <input class="" type="password" name="password" id="contrasenia"
                                                placeholder="Contraseña" value="<%= locals.old?.password %>" />
                            </div>
                        </div>

                        <div class="contenedor-button">
                            <div class="boton">
                                <button class="submit" type="submit">Crear cuenta</button>
                            </div>
                            <div class="inicio">
                                <p>¿Ya tienes cuenta?</p>
                                <a class="inicio-session" href="/autenticacion/iniciar">INICIAR SESIÓN</a>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
            
            <%- include('../partials/footer') %> 

            <%- include('../partials/scripts', {disabledBootstrapJS:true, disabledGliderJS:true}) %>
    </body>

</html>