<h1>Lista de productos</h1>
<div class="dash-topbar">
  <form class="dash-searchForm" action="/admin/productos/buscar" method="get">
    <label for="dash-search"></label>
    <input
      type="text"
      placeholder="Buscar Producto"
      name="dashboardKeywords"
      id="dash-search"
      value=""
    />
    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>

  <div class="dash-filter">
    <form class="dash-filterForm" action="/admin/productos/buscar" method="get">
      <span>Mostrar:</span>
      <select name="categorySearch" id="categorySearch">
        <% categories.forEach(c => { %>
          <option value="<%= c.id %>"><%= c.name %></option>
        <% }) %>        
      </select>
      <button type="submit">Filtrar</button>
    </form>
  </div>

  <div class="dash-filter">
    <form class="dash-filterForm" action="/admin/productos/buscar" method="get">
      <span>Mostrar:</span>
      <select name="subcategorySearch" id="subcategorySearch">
        <% subcategories.forEach(c => { %>
          <option value="<%= c.id %>"><%= c.name %></option>
        <% }) %>        
      </select>
      <button type="submit">Filtrar</button>
    </form>
  </div>

  <div class="dash-addProduct-container">
    <a class="dash-addProduct" href="/admin/crear-producto">
      <span>Crear producto</span>
      <i class="dash-plusButton fa-solid fa-plus"></i>
    </a>
  </div>
</div>

<table class="listProduct-table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Imagen</th>
      <th scope="col">Imagenes Secundarias</th>
      <th scope="col">Titulo</th>
      <th scope="col">Categoría</th>
      <th scope="col">Subcategoría</th>
      <th scope="col">Descripción</th>
      <th scope="col">Precio</th>
      <th scope="col">Descuento</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Color</th>
      <th scope="col">Disponible</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>

   <tbody>
  <% products.forEach(p => { %>
    <tr>
      <th scope="row"><%=p.id%></th>
      <td>
        <img class="dash-img-product" src="/images/products/<% if (p.imagePrincipal === "no-image.png") { %>default/<% }%><%= p.imagePrincipal %>" alt="product image"/>
      </td>
      
      <td>
         <% p.imagesecondaries.forEach(img => { %>
      <img class="dash-img-product" src="/images/products/<% if (img.file === "no-image.png") { %>default/<% }%><%= img.file %>" alt="product secondary image"/>
      <% }) %>
    </td>
      <td><%= p.title %></td>
      <td><%= p.category.name %></td>
      <td><%= p.subcategory.name %></td>
      <td class="dashListDescription">
        <p class="dashDescription-Paragrahp">
          <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="<%= "#prod" + p.id %>" aria-expanded="false" aria-controls="<%= "prod" + p.id %>">
            Leer
          </button>
        </p>
        <div class="collapse divDashDescription" id="<%= "prod" + p.id %>">
          <div class="card card-body">  
            <p><%= p.description %></p>
          </div>
        </div>
      </td>
      <td class="td-price"><%= converMoneyArg(p.price) %></td>
      <td class="td-sale"><%= p.sale %></td>
      <td class="td-quantity"><%= p.quantity %></td>
      <td class="td-colors">
        <% if (p.color === 'Multicolor') { %>
          <div class="imgMulticolorDiv"><img src="/images/products/multicolor.jpg" alt=""></div>
        <% } else { %>
        <i style="color: '<%= p.color %>';border: 1px solid black;border-radius: 10px;" class="fa-solid fa-circle"></i>
        <% } %>
      </td>
      <td><%= p.available %></td>
      <td>
        <div class="dash-actionButtons btn-group" role="group">
          <button class="infoButton btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Info</button>
          <ul class="dropdown-menu bg-primary text-light">
            <div class="d-flex">
              <table>
                <thead>
                  <tr >
                    <th class="text-light">Creado en:</th>
                    <th class="text-light">Actualizado en:</th>
                    <th class="text-light">Eliminado en:</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= p.createdAt.toISOString().split('T')[0] %></td>
                    <td><%= p.updatedAt.toISOString().split('T')[0] %></td>
                    <td><%= p.deletedAt?.toISOString().split('T')[0] %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ul>
          <a class="editButton" href="/admin/editar-producto/<%= p.id %>">Editar</a>
          <a class="deleteButton" href="/admin/eliminar?id=<%= p.id %>&title=<%= p.title %>">Eliminar</a>
        </div>
      </td>
    </tr>
   <% }) %> 
  </tbody>
</table>