<h1>Lista de productos</h1>
<div class="dash-topbar">
  <form class="dash-searchForm" action="/admin/productos/buscar" method="get">
    <label for="dash-search"></label>
    <input
      type="text"
      placeholder="Buscar Producto"
      name="dashboardKeywords"
      id="dash-search"
      value=""
    />
    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>

  <div class="dash-filter">
    <form class="dash-filterForm" action="/admin/productos/buscar" method="get">
      <span>Mostrar:</span>
      <select name="filterSelect" id="filterSelect">
        <% categories.forEach(c => { %>
          <option value="<%= c.name %>"><%= c.name %></option>
        <% }) %>
        
        <% subcategories.forEach(sc => { %>
          <option value="<%= sc.name %>"><%= sc.name %></option>
        <% }) %>
      </select>
      <button type="submit">Filtrar</button>
    </form>
  </div>

  <div class="dash-addProduct-container">
    <a class="dash-addProduct" href="/admin/crear-producto">
      <span>Crear producto</span>
      <i class="dash-plusButton fa-solid fa-plus"></i>
    </a>
  </div>
</div>

<table class="listProduct-table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Imagen</th>
      <th scope="col">Imagen Secundarias</th>
      <th scope="col">Titulo</th>
      <th scope="col">Categoría</th>
      <th scope="col">Subcategoría</th>
      <th scope="col">Descripción</th>
      <th scope="col">Precio</th>
      <th scope="col">Descuento</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Colores</th>
      <th scope="col">Disponible</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>

   <tbody>
  <% products.forEach(p => { %>
    <tr>
      <th scope="row"><%=p.id%></th>
      <td><img class="dash-img-product" src="/images/products/<%= p.imagePrincipal %>" alt="product image"/></td>
      
      <td>
         <% p.imagesecondaries.forEach(img => { %>
      <img class="dash-img-product" src="/images/products/<%= img.file %>" alt="product image"/>
      <% }) %>
    </td>
      
      <td><%= p.title %></td>
      <td><%= p.category.name %></td>
      <td><%= p.subcategory.name %></td>
      <td class="td-description"><%= p.description %></td>
      <td class="td-price"><%= p.price %></td>
      <td class="td-sale"><%= p.sale %></td>
      <td class="td-quantity"><%= p.quantity %></td>
      <td class="td-colors">
        <%= p.colorId %>
      </td>
      <td><%= p.available %></td>
      <td>
        <div class="dash-actionButtons" role="group">
          <a class="infoButton" href="/productos/detalle/<%= p.id %>">Info</a>
          <a class="editButton" href="/admin/editar-producto/<%= p.id %>">Editar</a>
          <a class="deleteButton" href="/admin/eliminar?id=<%= p.id %>&title=<%= p.title %>">Eliminar</a>
        </div>
      </td>
    </tr>
   <% }) %> 
  </tbody>
</table>