<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head', {view: "Perfil de Usuario", gliderCSSDisabled:true}) %>
<body>
    <%- include('../partials/header') %>
    <main class="usersProfile">
        <h1 class="text-center">Hola <%= locals.userLogin?.name %></h1>
        <div class="profile-container container my-2 mx-auto row ">
            <form class="col-12 col-md-6 mx-auto my-4 gap-3 card" action="/usuario/perfil/editar/<%= locals.user?.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="avatarImg-container d-flex flex-column mb-3 mt-5">
                    <label for="avatar">
                        <p>Imagen de perfil</p>
                        <img class="listUserAvatar" src="/images/avatar<% if ( locals.userLogin.avatar == 'perfilUser.png') { %>/default<% } %>/<%= locals.userLogin.avatar %>" alt="avatar image">
                        <input type="file" class="form-control form-control-sm" name="avatar" id="avatar" accept="img/*">
                        <% if (locals.errors) { %>
                            <div class="form-text fs-5 text-danger"><%= errors?.avatar?.msg %></div>
                        <% } %>
                    </label>
                    
                </div>
                <div class="userName-container d-flex flex-column mb-3">
                    <label for="name">Nombre completo</label>
                    <input type="text" class="form-control form-control-sm" name="name" id="name" value="<%= locals.errors ? locals.old.name : locals.user.name %>" placeholder="<%= locals.user?.name %>">
                    <% if (locals.errors) { %>
                        <div class="form-text fs-5 text-danger"><%= errors?.name?.msg %></div>
                    <% } %>
                </div>
                <div class="userName-container d-flex flex-column mb-3">
                    <label for="phone">Teléfono</label>
                    <input type="text" class="form-control form-control-sm" name="phone" id="phone" value="<%= locals.errors ? locals.old.phone : locals.user.phone %>" placeholder="<%= locals.user?.phone %>">
                    <% if (locals.errors) { %>
                        <div class="form-text fs-5 text-danger"><%= errors?.phone?.msg %></div>
                    <% } %>
                </div>

                <div class="userName-container d-flex flex-column mb-3">
                    <label for="street">Dirección</label>
                    <input type="text" class="form-control form-control-sm" name="street" id="street" value="<%= locals.errors ? locals.old.street : locals.user.addresses.street %>" placeholder="<%= locals.user?.addresses.street %>">
                    <% if (locals.errors) { %>
                        <div class="form-text fs-5 text-danger"><%= errors?.street?.msg %></div>
                    <% } %>
                </div>
                <div class="userName-container d-flex flex-column mb-3">
                    <label for="city">Ciudad</label>
                    <input type="text" class="form-control form-control-sm" name="city" id="city" value="<%= locals.errors ? locals.old.city : locals.user.addresses.city %>" placeholder="<%= locals.user?.city %>">
                    <% if (locals.errors) { %>
                        <div class="form-text fs-5 text-danger"><%= errors?.city?.msg %></div>
                    <% } %>
                </div>
                <div class="userName-container d-flex flex-column mb-3">
                    <label for="province">Provincia</label>
                    <input type="text" class="form-control form-control-sm" name="province" id="province" value="<%= locals.errors ? locals.old.province : locals.user.addresses.province %>" placeholder="<%= locals.user?.province %>">
                    <% if (locals.errors) { %>
                        <div class="form-text fs-5 text-danger"><%= errors?.province?.msg %></div>
                    <% } %>
                </div>
                <div class="userName-container d-flex flex-column mb-3">
                    <label for="zipcode">Código postal</label>
                    <input type="text" class="form-control form-control-sm" name="zipcode" id="zipcode" value="<%= locals.errors ? locals.old.zipcode : locals.user.addresses.zipCode %>" placeholder="<%= locals.user?.zipCode %>">
                    <% if (locals.errors) { %>
                        <div class="form-text fs-5 text-danger"><%= errors?.zipCode?.msg %></div>
                    <% } %>
                </div>

                <div class="d-flex justify-content-center gap-2 my-5 usersBtn">
                    <button type="submit" class="btn btn-outline-success usersSave">Guardar cambios</button>
                    <button type="reset" class="btn btn-outline-danger userReset">Cancelar cambios</button>
                </div>
            </form>
        </div>


    </main>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts', {disabledGliderJS:true}) %>
    
</body>
</html>